<h1>Últimas noticias</h1>
<ul class="sidebar-novedades">
    <li>Leandro Viana ha dejado un post en <a href="../../../index.php">Un gran poder conlleva una gran cabellera verde</a> como Arimila
        <div class="timer">(hace 2 minutos)</div>
    </li>
    <li>Leandro Viana ha dejado un post en <a href="../../../index.php">Un gran poder conlleva una gran cabellera verde</a> como Arimila
        <div class="timer">(hace 2 minutos)</div>
    </li>
    <li>Leandro Viana ha dejado un post en <a href="../../../index.php">Un gran poder conlleva una gran cabellera verde</a> como Arimila
        <div class="timer">(hace 2 minutos)</div>
    </li>
    <li>Leandro Viana ha dejado un post en <a href="../../../index.php">Un gran poder conlleva una gran cabellera verde</a> como Arimila
        <div class="timer">(hace 2 minutos)</div>
    </li>
</ul>